
* {
    font-family: Product Sans;
    font-size: 16px;
}

button, label, image {
    background: none;
    border-style: none;
    box-shadow: none;
    color: #e5e9f0;
}

button {
    padding: 5px;
    margin: 5px
}

button:hover {
    background-color: rgba(46,52,64,0.5);
}

button:focus {
    background-color: #5e81ac;
}

#searchbox {
    background: none;
    border-color: #999;
    color: #ccc;
    margin-top: 20px;
    margin-bottom: 20px
}

#separator {
    background-color: rgba(200, 200, 200, 0.5);
    margin-left: 500px;
    margin-right: 500px;
    margin-top: 10px;
    margin-bottom: 10px
}

#description {
    margin-bottom: 20px
}
