dotfiles_dir = "dotfiles"
gpg_user_id = "paul.delafosse@protonmail.com"
import = [
    { path = "configs/niri/niri.toml" },
    { path = "profiles/profiles.toml" },
]

[settings]
vars = ["vars.toml"]

[settings.dots]
# alacritty = { source = "configs/alacritty", target = ".config/alacritty" }
# xdg_dirs = { source = "configs/xdg/user-dirs.dirs", target = ".config/user-dirs.dirs" }
ghostty = { source = "configs/ghostty", target = ".config/ghostty" }
zsh = { source = "configs/zsh/zshrc", target = ".zshrc" }
zsh_env = { source = "configs/zsh/zshenv", target = ".zshenv" }
starship = { source = "configs/zsh/starship.toml", target = ".config/starship.toml" }
gitconfig = { source = "configs/git/gitconfig", target = ".gitconfig" }
gitignore = { source = "configs/git/gitignore", target = ".gitignore" }
gpg_agent = { source = "configs/gpg/gpg-agent.conf", target = ".gnupg/gpg-agent.conf" }
zed = { source = "configs/zed", target = ".config/zed" }
noctalia = { source = "configs/noctalia", target = ".config/noctalia" } 
