layer-rule {
  match namespace="^noctalia-overview*"
  place-within-backdrop true
}

debug {
  honor-xdg-activation-with-invalid-serial
}

window-rule {
    match is-floating=true
    focus-ring {
        off
    }
    border {
        off
    }
    draw-border-with-background false
}

window-rule {
    match is-focused=false
    opacity 0.85
}

window-rule {
    geometry-corner-radius 9
    clip-to-geometry true
}

window-rule {
    block-out-from "screencast"
    match app-id=r#"^Element$"#
    match app-id=r#"^com.obsproject.Studio$"#
}

window-rule {
    match app-id="^Element$"
    match app-id="^feishin$"
    open-on-workspace "media"
}

window-rule {
    open-on-workspace "main"
    match at-startup=true app-id="^firefox$"
    match at-startup=true app-id="^dev.zed.Zed$"
}

window-rule {
    match title="Kando Menu"
    open-floating true
    border { off; }
    shadow { off; }
}
