layer-rule {
    match namespace="swaync"
    match at-startup=true
    opacity 0.8
    shadow {
        on
        draw-behind-window true
    }
}

layer-rule {
    match namespace="overview$"
    place-within-backdrop true
}

window-rule {
    match is-floating=true
    focus-ring {
        off
    }
    border {
        off
    }
    draw-border-with-background false
}

window-rule {
    match is-focused=false
    opacity 0.85
}

window-rule {
    geometry-corner-radius 9
    clip-to-geometry true
}

window-rule {
    block-out-from "screencast"
    match app-id=r#"^Element$"#
    match app-id=r#"^com.obsproject.Studio$"#
}

window-rule {
    match app-id="^Element$"
    match app-id="^feishin$"
    open-on-workspace "media"
}

window-rule {
    open-on-workspace "main"
    match at-startup=true app-id="^firefox$"
    match at-startup=true app-id="^dev.zed.Zed$"
}
