* {
    border: none;
    border-radius: 0;
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-size: 13px;
    min-height: 0;
}

window#waybar {
    background-color: rgba(43, 48, 59, 0.5);
    border-bottom: 3px solid rgba(100, 114, 125, 0.5);
    color: #ffffff;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}


window#waybar.termite {
    background-color: #3F3F3F;
}

window#waybar.chromium {
    background-color: #000000;
    border: none;
}

#workspaces button {
    padding: 0 5px;
    background-color: transparent;
    color: #ffffff;
    border-bottom: 3px solid transparent;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button:hover {
    background: rgba(0, 0, 0, 0.2);
    box-shadow: inherit;
    border-bottom: 3px solid #ffffff;
}

#workspaces button.focused {
    background-color: #64727D;
    border-bottom: 3px solid #ffffff;
}

#workspaces button.urgent {
    background-color: __[bar_urgent]__;
}

#mode {
    background-color: #64727D;
    border-bottom: 3px solid #ffffff;
}

#clock,
#battery,
#cpu,
#memory,
#temperature,
#backlight,
#network,
#pulseaudio,
#tray,
#mode,
#idle_inhibitor,
#taskbar
#taskbar button
#taskbar button.active
#taskbar button.minimized
#taskbar button.maximized
#taskbar button.fullscreen

#clock {
    background-color: __[bar_clock_bg]__;
    color: __[bar_clock_fg]__;
    padding-left: 16px;
    padding-right: 16px;
}

#battery {
    background-color: __[battery_bg]__;
    color: __[battery_fg]__;
    padding-left: 16px;
    padding-right: 16px;
}

#battery.charging {
    color: __[battery_charging_fg]__;
    background-color: __[battery_charging_bg]__;
    padding-left: 16px;
    padding-right: 16px;
}

@keyframes blink {
    to {
        background-color: __[blink_bg]__;
        color: __[blink_fg]__;
    }
}

#battery.critical:not(.charging) {
    background-color: __[battery_critical_not_charging_bg]__;
    color: __[battery_critical_not_charging_fg]__;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    padding-left: 16px;
    padding-right: 16px;
}

label:focus {
    background-color: __[label_focused]__;
    padding-left: 16px;
    padding-right: 16px;
}

#cpu {
    background-color: __[cpu_bg]__;
    color: __[cpu_fg]__;
    padding-left: 16px;
    padding-right: 16px;
}

#memory {
    background-color: __[mem_bg]__;
    padding-left: 16px;
    padding-right: 16px;
}

#backlight {
    background-color: __[backlight_bg]__;
    padding-left: 16px;
    padding-right: 16px;
}

#network {
    background-color: __[network_bg]__;
    padding-left: 16px;
    padding-right: 16px;
}

#network.disconnected {
    background-color: __[network_disconnected]__;
    padding-left: 16px;
    padding-right: 16px;
}

#pulseaudio {
    background-color: __[pulse_audio_bg]__;
    color: __[pulse_audio_fg]__;
    padding-left: 16px;
    padding-right: 16px;
}

#pulseaudio.muted {
    background-color: __[pulse_audio_muted_bg]__;
    color: #2a5c45;
    padding-left: 16px;
    padding-right: 16px;
}

#temperature {
    background-color: __[temperature_bg]__;
    padding-left: 16px;
    padding-right: 16px;
}

#temperature.critical {
    background-color: __[temperature_critical_bg]__;
    padding-left: 16px;
    padding-right: 16px;
}

#tray {
    background-color: __[tray_bg]__;
    padding-left: 16px;
    padding-right: 16px;
}

#idle_inhibitor {
    background-color: __[idle_inibitor_bg]__;
    padding-left: 16px;
    padding-right: 16px;
}

#idle_inhibitor.activated {
    background-color: __[idle_inibitor_bg_activated]__;
    color: #2d3436;
    padding-left: 16px;
    padding-right: 16px;
}