* {
    border: none;
    border-radius: 0;
    font-family: "Fira Code Medium", Roboto, Helvetica, Arial, sans-serif;
    font-size: 12px;
    min-height: 0;
}

window#waybar {
    background-color: transparent;
    color: #feffff;
    transition-property: background-color;
    transition-duration: .5s;
}

#window, #workspaces {
    background-color: rgba(100, 100, 100, 0.5);
    margin-bottom: 7px;
    margin-top: 7px;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 5px;
    padding-bottom: 5px;
}


#window {
    border-radius: 0 400px 40px 0;
}

#mode {
    background-color: __[bar_urgent]__;
    margin-left: 150px;
    padding-left: 20px;
    padding-right: 20px;
    margin-right: 20px;
    border-radius: 40px 400px 40px 400px;
}

#mode button{
    margin: 10px;
    padding: 10px;
}

#workspaces {
    border-radius: 40px 400px 40px 400px;
}

#workspaces button {
    color: __[workspaces_fg]__;
    background-color: __[worspace_bg]__;
    margin-left: 5px;
    padding: 6px;
    border-radius: 50%;
}

#workspaces button:hover {
    color: #18405a;
    background: #fffc8b;
    box-shadow: inherit;
    border-bottom: 3px solid #ffffff;
}

#workspaces button.focused {
    background-color: __[worspace_focused_bg]__;
    border-bottom: 3px solid #ffffff;
}

#workspaces button.urgent {
    background-color: __[bar_urgent]__;
}

#clock,
#battery,
#network,
#pulseaudio,
#tray,
#mode,
#idle_inhibitor {
    margin-bottom: 7px;
    margin-top: 7px;
}

#clock {
    background: rgba(100, 100, 100, 0.5);
    color: __[bar_clock_fg]__;
    padding-left: 16px;
    padding-right: 16px;
}

#battery {
    background: rgba(100, 100, 100, 0.5);
    padding-left: 16px;
    padding-right: 16px;
}

#battery.charging {
    color: #56d79f;
    background: rgba(100, 100, 100, 0.5);
    padding-left: 16px;
    padding-right: 16px;
}

@keyframes blink {
    to {
        background-color: __[blink_bg]__;
        color: __[blink_fg]__;
    }
}

#battery.critical:not(.charging) {
    background-color: __[battery_critical_not_charging_bg]__;
    color: __[battery_critical_not_charging_fg]__;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    padding-left: 16px;
    padding-right: 16px;
}

label:focus {
    background-color: __[label_focused]__;
    padding-left: 16px;
    padding-right: 16px;
}

#network {
    color: #56d79f;
    background-color: rgba(100, 100, 100, 0.5);
    padding-left: 16px;
    padding-right: 16px;
}

#network.disconnected {
    color: __[bar_urgent]__;
    padding-left: 16px;
    padding-right: 16px;
}

#pulseaudio {
    background: rgba(100, 100, 100, 0.5);
    color: __[pulse_audio_fg]__;
    padding-left: 16px;
    padding-right: 16px;
}

#pulseaudio.muted {
    background-color: __[pulse_audio_muted_bg]__;
    color: #2a5c45;
    padding-left: 16px;
    padding-right: 16px;
}

#tray {
    background: rgba(100, 100, 100, 0.5);
    padding-left: 16px;
    padding-right: 24px;
}

#idle_inhibitor {
    border-radius: 40px 0 0 400px;
    background: rgba(100, 100, 100, 0.5);
    padding-left: 24px;
    padding-right: 16px;
}

#idle_inhibitor.activated {
    color:  #fffc8b;
}
