{{scss_colors}}

.github_prs-closer {
    background: transparent;
    opacity: 0;
    * {
        background: transparent;
        opacity: 0;
    }
}

.github_issues-closer {
    background: transparent;
    opacity: 0;
    * {
        background: transparent;
        opacity: 0;
    }
}

.calendar-closer {
    background: transparent;
    opacity: 0;
    * {
        background: transparent;
        opacity: 0;
    }
}

.background {
    background: transparent;
    border: none;
}

.menu-container {
    background-color: $base01;
    padding: 8px;
    border: 1px solid $base02;
    border-radius: 8px;
}

.menu-header {
    margin-bottom: 16px;
    padding-bottom: 8px;
    border-bottom: 1px solid $base02;
}

.header-text {
    color: $base0E;
    font-size: 20px;
    font-weight: bold;
}

.section-header {
    font-size: 18px;
    margin: 16px 0 8px 0;
    padding-bottom: 4px;
    border-bottom: 1px solid $base02;
}

.section-text {
    color: $base0C;
    font-size: 14px;
    font-weight: bold;
    margin-left: 10px;
}

.menu-item {
    padding: 8px;
    margin: 10px 0;
    border-radius: 6px;
    font-size: 16px;
}

.menu-item:hover {
    background-color: $base02;
}

.gh-number {
    color: $base0D;
    margin-right: 8px;
    font-family: monospace;
}

.item-title {
    color: $base05;
}

.menu-container scrollbar {
    background-color: $base00;
    border-radius: 8px;
}

.menu-container scrollbar slider {
    background-color: $base02;
    border-radius: 8px;
    margin: 2px;
}

.menu-container scrollbar slider:hover {
    background-color: $base03;
}

.menu-container > box > box:first-child .section-header {
    margin-top: 0;
}

.gh-icon {
    margin-right: 8px;
}
