[Unit]
Description=Openfortivpn connection to Qwant VPN
After=network.target

[Service]
Exec=openfortivpn
Type=notify
Restart=always


[Install]
WantedBy=default.target
