.window {
    margin: 5px;
    padding: 5px;
    background-color: {{theme.background}};
}

#input {
    background-color: {{theme.black}};
    color: {{theme.white}};
    border: 0px solid {{theme.black}};
}

#input:focus {
    background-color: {{theme.light_blue}};
    color: {{theme.white}};
    border: 0px solid {{theme.light_blue}};
}

#inner-box {
    background-color: {{theme.background}};
}

#inner-box flowboxchild:focus {
    background-color: {{theme.magenta}};
}

#outer-box {
    background-color: {{theme.background}};
}

#text {
    margin: 2px;
    background-color: {{theme.background}};
    color: {{theme.white}};
}

#scroll {
    background-color: {{theme.green}};
}
