* {
    /* a nerd font is required to be installed for icons */
    font-family: Noto Sans Nerd Font, sans-serif;
    font-size: 16px;
    border: none;
    border-radius: 0;
    color: {{theme.white}};
    background: {{theme.background}};
}

.container {
    background-color: {{theme.background}};
}

.container#end > * + * {
    margin-left: 20px;
}

.popup {
    border: 1px solid {{theme.light_blue}};
}

#workspaces .item {
    color: {{theme.white}};
}

#workspaces .item.focused {
    color: {{theme.white}};
    background: {{theme.black}};
}

#workspaces *:not(.focused):hover {
}

#launcher .item {
    margin-right: 4px;
}

#launcher .item:not(.focused):hover {
}

#launcher .open {
    border-bottom: 2px solid #6699cc;
}

#launcher .focused {
    color: white;
    background: {{theme.light_magenta}};
    border-top: 0px;
    border-bottom: 4px solid #6699cc;
}

#launcher .urgent {
    color: {{theme.red}};
}

#tray .item {}

#clock {}

#popup-clock {
    padding: 1em;
}

#calendar {}

#popup-clock #calendar-clock {
    font-size: 2.5em;
    padding-bottom: 0.1em;
}

#popup-clock #calendar {
}

#popup-clock #calendar .header {
    padding-top: 1em;
    font-size: 1.5em;
}

#popup-clock #calendar:selected {
    background-color: {{theme.light_blue}};
}

#focused {}
