@import 'widgets/date/calendar.scss';
@import 'widgets/workspace/workspace.scss';
@import 'widgets/audio/pulseaudio.scss';
@import 'widgets/net/netinterface.scss';
@import 'widgets/brightness/brightness.scss';

* {
    color: {{workspaces_fg}};
    border: none;
    border-radius: 0;
    font-family: "Fira Code Medium", FontAwesome, Roboto, Helvetica, Arial, sans-serif;
    font-size: 15px;
    background-color: transparent;
    min-height: 0;
}

.bar {
    transition-property: background-color;
    transition-duration: .5s;
}

.bar_center {
    background-color: rgba(100, 100, 100, 0.5);
    margin-bottom: 7px;
    margin-top: 7px;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 40px 400px 40px 400px;
}

.bar_right {
    background-color: rgba(100, 100, 100, 0.5);
    margin-bottom: 7px;
    margin-top: 7px;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 40px 0 0 400px;

    .icon {
        padding-left: 16px;
        padding-right: 16px;
    }
}

.bar_left {
    background-color: rgba(100, 100, 100, 0.5);
    margin-bottom: 7px;
    margin-top: 7px;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 0 400px 40px 0;
}