{{gtk_colors}}

*:not(#bar) {
    font-family: "JetbrainsMono Nerd Font";
    font-size: 16px;
    margin-left: 3px;
    margin-right: 3px;
    border-radius: 12px;
}

.background {
    background-color: transparent;
}

#bar {
    margin-top: 2px;
    background-color: transparent;
}

button {
    background-color: @base01;
}


button,
label {
    color: @base05;
}

button:hover {
    background-color: @base00;
}

.popup {
    padding: 1em;
    border: 1px solid @base00;
    background-color: @base01;
}

popover contents {
    background-color: @base01;
}

.launcher picture {
    padding-left: 4px;
    padding-right: 1px;
}

.launcher .focused {
    background-color: @base02;
    border: 3px solid @base08;
}

.clock label {
    margin-left: 10px;
    margin-right: 10px;
}

.clock {
    font-weight: bold;
}

.volume label {
    margin-left: 8px;
    margin-right: 10px;
}

.clipboard label {
    margin-left: 8px;
    margin-right: 10px;
}

.notifications label {
    padding-right: 6px;
}

.notifications .count {
    transform: translate(-6px, 4px);
    opacity: 0.8;
}

#archupdates {
    background-color: @base01;
}

#archupdates revealer {
    background-color: @base01;
    padding-right: 0px;
    margin-right: 0px;
}
#archupdates label {
    margin-left: 7px;
    margin-right: 7px;
}

#archupdates .script {
    transform: translate(-10px, -8px);
    opacity: 0.8;
    margin-right: 0px;
    padding-right: 0px;
}

.tray {
    background-color: @base01;
}

menu {
    background-color: red;
    margin-bottom: 40px;
}

check {
    color: red;
    border-radius: 3px;
    padding: 1px;
    min-height: 12px;
    min-width: 12px;
    transition: all 200ms ease-in;
}


menu menuitem:hover {
    background-color: red;
}

menu checkmenuitem:checked check {
    background-color: #4CAF50; /* Green background for checked checkbox */
    border-color: #388E3C; /* Darker green border */
}
