{{gtk_colors}}

*:not(#bar) {
    font-family: "JetbrainsMono Nerd Font";
    font-size: 16px;
    margin-left: 3px;
    margin-right: 3px;
    border-radius: 12px;
}

.background {
    background-color: transparent;
}

#bar {
    margin-top: 2px;
    background-color: transparent;
}

button {
    background-color: @base01;
}

button,
label {
    color: @base05;
}

button:hover {
    background-color: @base00;
}

.popup {
    padding: 1em;
    border: 1px solid @base00;
    background-color: @base01;
}

.launcher .item {
    margin-left: 6px;
}

.clock label {
    margin-left: 10px;
    margin-right: 10px;
}

.clock > button {
    background-color: red;
}

.clock {
    font-weight: bold;
}

.popup-clock .calendar-clock {
    color: @text;
    font-size: 2.5em;
    margin-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    background-color: @surface0;
}

.volume label {
    margin-left: 8px;
    margin-right: 10px;
}

.clipboard label {
    margin-left: 8px;
    margin-right: 10px;
}

.notifications label {
    margin-left: 8px;
    margin-right: 10px;
}

.notifications .count {
    font-size: 0.6rem;
    background-color: @text;
    color: @crust;
    border-radius: 100%;
    margin-right: 3px;
    margin-top: 3px;
    padding-left: 4px;
    padding-right: 4px;
    opacity: 0.7;
}

.tray {
    background-color: @base01;
}

menu {
    border: 0px;
    background-color: @base01;
}

check {
    -gtk-icon-source: none;
    border: 2px solid @base08;
    border-radius: 3px;
    padding: 1px;
    min-height: 12px;
    min-width: 12px;
    transition: all 200ms ease-in;
}

checkbutton {
    -gtk-icon-source: none;
    border: none;
    background: none;
}

menu menuitem:hover {
    background-color: #{{base0B}};
}

menu checkmenuitem:checked check {
    background-color: #4CAF50; /* Green background for checked checkbox */
    border-color: #388E3C; /* Darker green border */
}

.popup-volume .device-box .device-selector {
    background-color: @surface0;
}

.popup-volume .device-box .slider {
    background-color: @surface0;
}
