.window {
    margin: 5px;
    padding: 5px;
    background-color: {{bg}};
}

#input {
    background-color: {{input_bg}};
    color: {{input_color}};
    border: 0px solid {{input_bg}};
}

#input:focus {
    background-color: {{input_focused_bg}};
    color: {{input_focused_color}};
    border: 0px solid {{input_focused_border}};
}

#inner-box {
    background-color: {{inner_box_bg}};
}

#inner-box flowboxchild:focus {
    background-color: {{inner_box_flowchild_focused_bg}};
}

#outer-box {
    background-color: {{outer_box_bg}};
}

#text {
    margin: 2px;
    background-color: {{text_bg}};
    color: {{text}};
}

#scroll {
    background-color: {{scroll}};
}
