.onagre {
  --exit-unfocused: false;
  height: 375px;
  width: 600px;
  --icon-theme: "Papirus";
  --icon-size: 28px;
  --font-family: "Iosevka Nerd Font Mono";
  background: {{theme.background}};
  color: {{theme.foreground}};
  border-color: #2E3440;
  border-width: 4px;
  padding: 10px;

  .container {
    padding: 0px;
    .search {
      --spacing: 1;
      background: {{theme.white}};
      border-radius: 0.0%;
      color: {{theme.background}};
      --height: fill-portion 1;

      .plugin-hint {
        font-size: 18px;
        background: {{theme.white}};
        color: {{theme.red}};
        border-color: {{theme.red}};
        --align-x: center;
        --align-y: center;
        --width: fill-portion 1;
        --height: fill;
      }

      .input {
        font-size: 20px;
        --width: fill-portion 11;
      }
    }

    .rows {
      --height: fill-portion 8;

      .row-selected {
        background: {{theme.blue}};
        color: {{theme.light_white}};
        --spacing: 3px;
        --align-y: center;

        .title {
          font-size: 22px;
        }

        .description {
          font-size: 20px;
        }

        .category-icon {
          --icon-size: 15px;
        }
      }

      .row {
        .title {
          font-size: 22px;
        }

        .description {
          font-size: 20px;
        }

        .category-icon {
          --icon-size: 15px;
        }
      }
    }

    .scrollable {
      background: #00000000;
      .scroller {
        color: #4c566a00;
      }
    }
  }
}
