.window {
margin: 5px;
padding: 5px;
background-color: __[wofi_bg]__;
}
#input {
background-color: __[wofi_input_bg]__;
color: __[wofi_input_color]__;
border: 0px solid __[wofi_input_bg]__;
}
#input:focus {
background-color: __[wofi_input_focused_bg]__;
color: __[wofi_input_focused_color]__;
border: 0px solid __[wofi_input_focused_border]__;
}
#inner-box {
background-color: __[wofi_inner_box_bg]__;
}
#inner-box flowboxchild:focus {
background-color: __[wofi_inner_box_flowchild_focused_bg]__;
}
#outer-box {
background-color: __[wofi_outer_box_bg]__;
}
#text {
margin: 2px;
background-color: __[wofi_text_bg]__;
color: __[wofi_text]__;
}
#scroll {
background-color: __[wofi_scroll]__;
}
