.window {
margin: 5px;
padding: 5px;
background-color: __[wofi_bg]__;
}
#input {
background-color: __[wofi_input_bg]__;
color: #EBEBEB;
border: 0px solid #FEFEF8;
}
#input:focus {
background-color: #1BA6FA;
color: #1BA6FA;
border: 0px solid #1BA6FA;
}
#inner-box {
background-color: #0d0d0d;
}
#inner-box flowboxchild:focus {
background-color: #1BA6FA;
}
#outer-box {
background-color: #6D7070;
}
#text {
margin: 2px;
background-color: #0d0d0d;
color: #FF261E;
}
#scroll {
background-color: #1BA6FA;
}
