.volbar trough highlight {
    background-image: linear-gradient(to right, #afcee0 30%, #a1bdce 50%, #77a5bf 100% *50);
    border-radius: 10px;
  }
  
  .volbar trough {
      background-color: #22242b;
      box-shadow: 0 2px 3px 2px #06060b;
      border-radius: 16px;
      min-height: 10px;
      min-width: 70px;
      margin: 0px 10px 0px 0px;
  }